@{
    ViewData["Title"] = "Home Page";
}

<div class="centered">
        <h1 id="homeHeading">MVC Core Angularjs Task 3 Demo</h1>
        <hr>
        <p>Basic attempt to demo MVC Core Angularjs Grunt usage with proper standards</p>
        <a href="/Home/Details" class="btn btn-primary btn-xl page-scroll">Details page</a>
</div>


